<head>
    <title>Source</title>
	  
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="timeline.css">

		<link rel = "preconnect" href = "https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
        <style>
            body{color:white;}
        </style>
    </head>
    <div class="navbar">

        <nav>
        <ul>
            <li><a href="index.html">Geschichte des Web</a></li>
            <li><a href="#">Virtual Reality</a></li>
            <li><a href="#">Probleme mit Google & co.</a></li>
            <li><a href="#">Rüstungs und Waffensysteme</a></li>
            <li><a href="source.html">Source</a></li>
        </ul>
        </nav>
        
    </div>

    <div class="fullscreen-intro-sauce" style="height: 100%;"></div>
    <h1>Sources</h1>
   <p> https://www.google.com/search?q=david+filo&rlz </p>
   <p>https://www.google.com/search?q=jerry+yang&rlz</p>
   <p>https://www.google.com/search?q=jimmy+wales&rlz</p>
   <p>https://www.google.com/search?q=mark+zuckerberg&rlz</p>
   <p>https://www.google.com/search?q=Tim+berners+lee&rlz</p>
   <p>https://www.google.com/search?q=marc+andreessen&rlz</p>
   <p>https://www.br.de/themen/ratgeber/inhalt/computer/internet-www-geschichte-100.html</p>
   <p>https://www.google.com/search?q=world+wide+web+bild&rlz</p>
   <p>https://www.google.com/search?q=quelle&rlz</p>
   <p>https://wiki.selfhtml.org/wiki/HTML/Tutorials/Lightbox_einbinden</p>
   <p>https://www.google.com/search?q=wikipedia&tbm=isch&ved</p>
   <p>https://www.youtube.com/watch?v=f8I5dChWb6Y</p>
   <p>https://www.google.com/search?q=microsoft&rlz</p>