/*- Screen Sizes*/
/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Condensed & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
/*media queries*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper a{
  color: rgb(80, 133, 133);
}

.wrapper a:visited{
  color: rgb(81, 129, 129) ;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar{
  position: fixed;
  z-index: 999;
  width: 100%;
}

.fullscreen-intro{
  background-image: url("https://kanyakumaritubelights.com/wp-content/uploads/2020/08/www.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fullscreen-intro-sauce{
  background-image: url("images/Quelle.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Hintergrunddesign + Schriftart*/
body {
  background-color: #161616;
  font-family: "Open Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 0.875em;
  color: #212121;
  line-height: 1.5;
}
/* Hintergrunddesign + Schriftart*/

.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}
/* Überschrift weiß*/
h1 {
  color: rgb(255, 255, 255);
  font-family: "Zen Dots";
  text-align: center;
}
/* Überschrift weiß*/

/* Zeitleiste usw.*/
.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: #eeeeee;
}
.timeline--entry__title {
  color: white;
  background-color: #000000;
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1.5em;
  border-right: 10px solid #000000;
}
.timeline--entry__detail {
  background-color: #dddddd;
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #000000;
  border: 0.2em solid white;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
  /* Zeitleiste usw.*/
}

/* Navigationaleiste*/
.navbar {
  background-color: #161616;
  height: 50px;
}

.navbar img {
  width: 150px;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  float: right;
  margin: 0;
}

li {
  display: inline;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 15px;
}

nav a:hover {
  color: #4FA8AB;
}

nav a:active {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    margin-top: -5px;
  }

  nav li {
    display: block;
    background-color: #292828;
    text-align: center;
  }
 }

* {
  font-family: Montserrat, sans-serif;
}
/* Navigationaleiste*/


